body
{
	background-image: url("https://cdn.hipwallpaper.com/i/75/53/0cFvKO.jpg");
}
#output
{
	background: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 3px;
	color: white;
	font-weight: bold;
}